[defaults]
inventory = hosts
vault_identity_list = home_infra@.vault_pass

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
