---
apiVersion: v1
kind: ConfigMap
metadata:
  name: fluentd
  namespace: fluentd
data:
  fluentd.conf: |
    <match debug.**>
      @type stdout
    </match>

    <source>
      @type http
      bind 0.0.0.0
      port 9880
    </source>
