---
- name: Create Fluentd configuration file
  kubernetes.core.k8s:
    template: "{{ item }}"
  loop:
    - "namespace.yml.j2"
    - "configmap.yml.j2"

- name: Add chart repo for Fluentd
  kubernetes.core.helm_repository:
    name: bitnami
    url: https://charts.bitnami.com/bitnami

- name: Install Fluentd
  kubernetes.core.helm:
    name: fluentd
    chart_ref: bitnami/fluentd
    create_namespace: yes
    namespace: fluentd
    wait: false
    update_repo_cache: yes
    values:
      aggregator:
        configMap: fluentd
