---
apiVersion: v1
kind: ConfigMap
metadata:
  name: gitea-act-runner
  namespace: gitea-act-runner
data:
  # If wrap the token with double quotation, the token is not recognized correctly by server.
  # Why?
  run.sh: |
    act_runner register \
      --instance ${GITEA_INSTANCE_URL} \
      --token ${GITEA_RUNNER_REGISTRATION_TOKEN} \
      --name gitea-act-runner \
      --labels ${GITEA_RUNNER_LABELS} \
      --no-interactive
    unset GITEA_RUNNER_REGISTRATION_TOKEN
    act_runner daemon
  
  supervisord.conf: |
    [supervisord]
    nodaemon=true
    logfile=/dev/null
    logfile_maxbytes=0
    
    [program:act_runner]
    stdout_logfile=/dev/fd/1
    stdout_logfile_maxbytes=0
    redirect_stderr=true
    directory=/data
    command=/bin/bash -c ". /opt/gitea-act-runner/run.sh"