---
- name: Add chart repo for kube-prometheus-stack
  kubernetes.core.helm_repository:
    name: prometheus-community
    url: https://prometheus-community.github.io/helm-charts

- name: Install kube-prometheus-stack
  kubernetes.core.helm:
    name: kube-prometheus-stack
    chart_ref: prometheus-community/kube-prometheus-stack
    create_namespace: yes
    namespace: kube-prometheus-stack
    update_repo_cache: yes
    values:
      prometheus:
        prometheusSpec:
          retentionSize: "512MB"
          storageSpec:
            volumeClaimTemplate:
              spec:
                storageClassName: "nfs-csi"
                accessModes: ["ReadWriteOnce"]
                resources:
                  requests:
                    storage: "1Gi"
        # ingress:
        #   enabled: true
        #   annotations:
        #     cert-manager.io/cluster-issuer: lets-encrypt
        #   tls:
        #     - secretName: prometheus-ingress-tls
        #       hosts:
        #         - "prometheus.{{ domain }}"
      grafana:
        adminPassword: '{{ grafana_password }}'
        ingress:
          enabled: true
          annotations:
            cert-manager.io/cluster-issuer: lets-encrypt
          hosts:
            - "grafana.{{ domain }}"
          tls:
            - secretName: "grafana.{{ domain }}-tls"
              hosts:
                - "grafana.{{ domain }}"
