---
- name: Install nfs-kernel-server
  ansible.builtin.apt:
    name: nfs-kernel-server
    update_cache: yes

- name: Create a directory for NFS server
  ansible.builtin.file:
    path: /srv/nfs
    state: directory
    owner: nobody
    group: nogroup
    mode: "777"

- name: Locate exports file
  ansible.builtin.copy:
    src: exports
    dest: /etc/exports

- name: Restart nfs-kernel-server service
  ansible.builtin.systemd:
    name: nfs-kernel-server
    state: restarted
