---
- name: Download frp
  ansible.builtin.unarchive:
    src: https://github.com/fatedier/frp/releases/download/v0.51.2/frp_0.51.2_linux_amd64.tar.gz
    dest: /opt
    remote_src: true
    extra_opts:
      - --transform
      - s,^[^/]+,frp,x

- name: Create frpc config file
  ansible.builtin.template:
    src: frpc.ini.j2
    dest: /opt/frp/frpc.ini

- name: Create frpc service file
  ansible.builtin.copy:
    src: frpc.service
    dest: /opt/frp/systemd/

- name: Create frp directory in etc
  ansible.builtin.file:
    path: /etc/frp
    state: directory

- name: Create symbolic links for frpc
  ansible.builtin.file:
    state: link
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
  loop:
    - { src: /opt/frp/frpc.ini, dest: /etc/frp/frpc.ini }
    - { src: /opt/frp/frpc, dest: /usr/bin/frpc }
    - {
        src: /opt/frp/systemd/frpc.service,
        dest: /etc/systemd/system/frpc.service,
      }

- name: Enable frpc service
  ansible.builtin.systemd:
    name: frpc
    state: restarted
    enabled: true
    daemon-reload: true
